<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- TITLE OF SITE -->
        <title>MedMatch Jobs| Physician Jobs Match Making while being your own Recruiter</title>

        <meta name="description" content="Physician job matching recruiting while allowing doctors to be with own recruiters. No more healthcare staffing recruitment agencies" />
        <meta name="keywords" content="MedMatch, MedMatchJobs, Physician Job Match, Healthcare Jobs, startup landing page, one page, responsive, app landing, html template, mobile application, responsive landing page" />
        <meta name="author" content="MedMatch Co">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- FAVICON  -->
        <link rel="icon" href="<?php echo base_url('assets/new/talent'); ?>/images/favicon/favicon.ico">

        <!-- =========================
           STYLESHEETS
        ============================== -->
      <?php include_once($_SERVER['DOCUMENT_ROOT'].'/application/views/common_scripts.php'); ?>

        <!-- BOOTSTRAP CSS -->
        <link rel="stylesheet" href="<?php echo base_url('assets/new/talent'); ?>/css/plugins/bootstrap.min.css">

        <!-- FONT ICONS -->
        <link rel="stylesheet" href="<?php echo base_url('assets/new/talent'); ?>/css/icons/icons.min.css">

        <!-- GOOGLE FONTS -->
        <link href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee" rel="stylesheet">

        <!-- PLUGINS STYLESHEET -->
        <link rel="stylesheet" href="<?php echo base_url('assets/new/talent'); ?>/css/plugins/plugins.min.css">

        <!-- CUSTOM STYLESHEET -->
        <link rel="stylesheet" href="<?php echo base_url('assets/new/talent'); ?>/css/style.css">

        <!-- RESPONSIVE FIXES -->
        <link rel="stylesheet" href="<?php echo base_url('assets/new/talent'); ?>/css/responsive.css">

        <!-- COLORE STYLESHEET -->
        <!-- Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css -->
        <link rel="stylesheet" href="<?php echo base_url('assets/new/talent'); ?>/css/colors/red.css" title="red">

      <?php include_once($_SERVER['DOCUMENT_ROOT'].'/application/views/common_scripts.php'); ?>
        <!--[if lt IE 9]>
                <script src="assets/js/plugins/html5shiv.min.js"></script>
                <script src="assets/js/plugins/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            var SITE_URL = '<?php echo site_url(); ?>';
            var BASE_URL = '<?php echo base_url(); ?>';
        </script>

        <style type="text/css">
        .hero-section {
            background: rgba(0,0,0,0.4);
            padding: 10px;
        }
        .navbar-brand {
            padding-top: 15px!important;
        }
        </style>
    </head>

    <body>

    </body>
</html>